header{
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: var(--border-width) solid var(--destack-color);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    
    border: var(--border-width) solid var(--destack-color);
    background-color: var(--background-color);
    margin: 10px 0;
    border-radius: var(--radius);
    padding: 10px;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    border:var(--border-width) outset var(--destack-color);
    border-radius: var(--radius);
    padding: 5px 10px;  
    
} 
nav a:hover {
    color: #ffffff; 
    border: var(--border-width) outset var(--destack-color);
    background-color: rgba(0,0,122,0.3);
}
main {
    padding: 1px;
    margin-top: 10px;
    border-radius: var(--radius);
    border: var(--border-width) solid var(--destack-color); 
    background-color: var(--background-color);
}
main p::first-letter{font-size:150%;}
main p{
    text-indent: 10px;
    padding: 7px;
}
#sobre{
    border-radius: var(--radius);
    border: var(--border-width) dotted var(--destack-color);
    margin: 5px;
}
#galeria{
    border-radius: var(--radius);
    border: var(--border-width) dotted var(--destack-color); 
    margin:5px;
}
footer {
    padding: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: var(--border-width) solid var(--destack-color); 
    background-color: var(--background-color);
    text-align: center;
}
#referencias{
    color: var(--destack-color);
    border-radius: var(--radius);
    border: var(--border-width) dotted var(--destack-color); 
    margin:5px;
    text-align: left;
}
#rotape{
    font-size: 11px;
    text-align: left;
}